Options All -Indexes

php_value allow_url_fopen 0
php_value include_path core

DirectoryIndex index.php
RewriteEngine On

<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteRule ^([^.]+)/([^.]+.html)$ index.php [QSA]
RewriteRule ^([^.]+)(/*)$ index.php [QSA]
RewriteRule ^([^.]+)/?$ index.php [L]

RewriteRule ((%3A|:)25|%0D%0A) - [G]